* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #F5F5F5;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1.5fr 4fr;
    height: inherit;
    padding: 20px 20px;
    gap: 20px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    /* background-color: aqua; */
    gap: 20px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    background-image: linear-gradient(rgb(139, 109, 222), rgb(110, 71, 218));
    border-radius: 30px;
    justify-content: center;
    padding: 30px;
    width: 80%;
}

.content {
    
}

/* upper-panel styling */
.header-upper-panel {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.search-bar form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    align-items: center;
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 0 4px 8px 0 #F5F5F5;
}

.search-bar form input {
    all: unset;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

.header-greeting-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to right, rgb(110, 71, 218), rgb(139, 109, 222));
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
/* content styles */
.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
}

.review-section {
    display: grid;
    grid-template-rows: auto 1fr;
}

.peer-info {
    display: grid;
    grid-template-rows: auto 1fr;
}

/* sidebar styling */
.student-logo {
    background-color: rgb(110, 71, 218);
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.filter-white {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(359deg) brightness(102%) contrast(101%);
}

.b-icon {
    height: 80%;
    width: 80%;
}

.sidebar-head {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: self-start;
}

/* header greeting panel styles */