<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-upper-panel">
                <div class="search-bar">
                    <form action="">
                        <input type="text" placeholder="search">
                    </form>
                </div>
                <div class="user-profile">
                    <div class="user-profile-content">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="./assets/avatars/1.png" class="avatar-s" alt="">
                                    <div class="user">
                                        <b>John Doe</b>
                                        <div class="level">3rd Year</div>
                                    </div>  
                                </a>   
                            </li>
                            <li>
                                <a href="">
                                    <img src="./assets/icons/bell-ring.svg" class="avatar-s" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>   
                </div>
            </div>
            <div class="header-greeting-panel">
                <div class="text-section">
                    <div class="date"><p>December 6, 2024</p></div>
                    <div class="greeeting">
                        <h1>Welcome back, John</h1>
                        <p>how are you feeling today?</p>
                    </div>
                </div>
                <div class="image-section">
                    <img src="./assets/images/pngwing.com.png" alt="student">
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="sidebar-head">
                <div class="student-logo">
                    <img src="./assets/icons/account-school-outline.svg" class="filter-white b-icon" alt="">
                </div>
            </div>
            <div class="sidebar-body">
                <div class="sidebar-main-nav">
                    <ul>
                        <li><a href="#"><img src="./assets/icons/home.svg" alt="" class="nav-icon filter-white">Home</a></li>
                        <li><a href=""><img src="./assets/icons/account.svg" class="nav-icon filter-white" alt="">Profile</a></li>
                        <li><a href=""><img src="./assets/icons/message-processing.svg" class="nav-icon filter-white" alt="">Messages</a></li>
                        <li><a href=""><img src="./assets/icons/history.svg" class="nav-icon filter-white" alt="">History</a></li>
                        <li><a href=""><img src="./assets/icons/file-multiple.svg" class="nav-icon filter-white" alt="">Tasks</a></li>
                        <li><a href=""><img src="./assets/icons/account-group.svg" alt="" class="nav-icon filter-white" >Communities</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="review-section">
                <h2>review a peer</h2>
                <div class="review-form">
                    <h1>FORM REVIEW AREA</h1>
                </div> 
            </div>
            <div class="peer-info">
                <div class="peer-list">
                    <h2>Peers</h2>
                    <div class="peers-profiles">
                        <a href="">
                            <img src="./assets/avatars/21.png" class="avatar-s" alt="">
                            <div class="username"><strong>Johanan</strong>
                            </div>
                        </a>
                        <a href="">
                            <img src="./assets/avatars/57.png" class="avatar-s" alt="">
                            <div class="username"><strong>Kusi</strong>
                            </div>
                        </a>
                        <a href="">
                            <img src="./assets/avatars/74.png" class="avatar-s" alt="">
                            <div class="username"><strong>Fred</strong>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="review-history">
                    <h2>Review History</h2>
                    <div class="past-reviews">
                        <ul>
                            <li>
                                <p>You reviewed Thomas.</p>
                                <div class="time">
                                    <small>June 4</small>
                                </div>
                            </li>
                            <li>
                                <p>Jankson reviewed You.</p>
                                <div class="time">
                                    <small>June 2</small>
                                </div>
                            </li>
                            <li>
                                <p>You reviewed Eric.</p>
                                <div class="time">
                                    <small>June 1</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/script.js"></script>
</body>
</html>